* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  color: white;
  padding: 25px 0px;
  font-size: 1.6rem;
  text-align: center;
  background-color: #666;
}

h1 {
  font-size: 1.5em;
}

section::after {
  content: '';
  clear: both;
  display: table;
}

.width-100 {
  width: 100%;
  height: 100%;
  padding: 20px 0px;
}

nav {
  width: 30%;
  float: left;
  padding: 20px 20px;
  border-left: 6px solid;
  background-color: #ccc;
}

nav ul a:hover {
  color: #ffffff;
}

nav li {
  width: 80%;
  height: 3rem;
  padding: 1rem;
  display: block;
  font-size: 1.3rem;
  line-height: 1.2rem;
  border-bottom: 2px solid #ffffff;
}

a {
  color: #000;
}

article {
  width: 70%;
  float: left;
  padding: 0px 20px 20px 20px;
}

h2 {
  font-size: 1.3rem;
  line-height: 1.2rem;
  padding: 36px 32px 0px 32px;
  background-color: #e2e2e2;
}

h2 + p {
  font-size: 1rem;
  border-bottom: 2px solid;
  background-color: #e2e2e2;
  padding: 30px 38px 13px 32px;
}

#primeiro-link > a {
  color: #933;
}

form {
  padding: 10px;
  background: #eee;
}

form div {
  margin: 1rem;
  padding: 2rem;
  background: #fff;
  border-bottom: 1px solid #666;
}

label {
  color: #000000;
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
  font-family: sans-serif;
}

input {
  padding: 1rem;
}

[type='text'],
[type='email'],
textarea,
label {
  width: 100%;
  display: block;
}

footer {
  color: white;
  padding: 10px;
  text-align: center;
  background-color: #777;
}

footer p a {
  color: #ffffff;
}

footer p a:hover {
  color: #000;
  border-bottom: 2px solid;
}

/* Smartphone */
@media (max-width: 425px) {
  .nav {
    border-left: none;
    padding: 0px;
    width: 100%;
    text-align: center;
  }

  .nav li {
    width: 100%;
  }

  .nav li:hover {
    background-color: #666;
  }

  article {
    padding: 20px 20px;
    width: 100%;
    text-align: center;
  }
}

/* Tablet */
@media (max-width: 769px) {
  nav {
    border-left: none;
    padding: 0px;
    width: 100%;
    text-align: center;
  }

  nav li {
    width: 100%;
  }

  nav li:hover {
    background-color: #666;
  }

  article {
    padding: 20px 20px;
    width: 100%;
    text-align: center;
  }
}
