* {
  border: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  color: #ffffff;
  padding: 25px 0px;
  font-size: 1.6rem;
  text-align: center;
  background-color: #666;
}

.width-100 {
  width: 100%;
  height: 350px;
  padding: 20px 0px;
  background-color: transparent;
}

nav {
  width: 30%;
  float: left;
  padding: 20px 20px;
  border-left: 6px solid;
  background-color: #ccc;
}

nav ul {
  padding: 0;
}

nav ul a:hover {
  color: #ffffff;
}

nav li {
  width: 80%;
  height: 3rem;
  padding: 1rem;
  display: block;
  font-size: 1.3rem;
  line-height: 1.2rem;
  border-bottom: 2px solid #ffffff;
}

a {
  color: #000;
}

article {
  width: 70%;
  float: left;
  padding: 0px 20px 20px 20px;
}

div {
  background-color: #f1f1f1;
}

h1 {
  padding: 5px;
  border-left: 4px solid;
}

div > p {
  padding: 20px 15px;
}

#p:hover {
  border-left: 4px solid;
}

/* Style the footer */
footer {
  right: 0;
  bottom: 0;
  width: 100vw;
  padding: 10px;
  color: #ffffff;
  position: absolute;
  text-align: center;
  background-color: #777;
}

footer p a {
  color: #ffffff;
}

footer p a:hover {
  color: #000;
  border-bottom: 2px solid;
}

/* Smartphone */
@media (max-width: 425px) {
  article {
    width: 100%;
    min-width: 320px;
    padding: 30px 20px;
  }

  nav {
    padding: 0;
    height: auto;
    width: 100%;
    border-left: none;
  }

  nav li {
    width: 100%;
    text-align: center;
  }

  nav li:hover {
    background-color: #666;
  }

  .width-100 {
    padding: 30px 0px;
  }

  footer {
    position: relative;
    display: table;
  }
}

/* Tablet */
@media (max-width: 769px) {
  article {
    width: 100%;
    min-width: 320px;
    padding: 30px 20px;
  }

  nav {
    padding: 0;
    height: auto;
    width: 100%;
    border-left: none;
  }

  nav li {
    width: 100%;
    text-align: center;
  }

  nav li:hover {
    background-color: #666;
  }

  .width-100 {
    padding: 30px 0px;
  }

  footer {
    position: relative;
    display: table;
  }
}
