* {
  border: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.width-100 {
  width: 100%;
  height: 585px;
  padding: 20px 0px;
}

/* Style the header */
header {
  color: #ffffff;
  padding: 25px 0px;
  font-size: 1.6rem;
  text-align: center;
  background-color: #666;
}

h3 {
  padding: 5px;
  font-size: 1.3rem;
  border-bottom: 1.5px solid #ffffff;
}

nav {
  width: 30%;
  float: left;
  padding: 20px 20px;
  border-left: 6px solid;
  background-color: #ccc;
}

nav ul {
  padding: 0px;
}

nav ul a:hover {
  color: #ffffff;
}

nav li {
  width: 80%;
  height: 3rem;
  padding: 1rem;
  display: block;
  font-size: 1.3rem;
  line-height: 1.2rem;
  border-bottom: 2px solid #ffffff;
}

nav ul li a {
  color: Black;
}

article {
  width: 70%;
  float: left;
  height: 100%;
  display: block;
  padding: 0px 20px 0px 20px;
}

article div {
  background-color: #f1f1f1;
  padding: 0px 20px 20px 20px;
}

.img {
  margin-left: 20px;
}

img + h2 {
  padding: 20px 20px 0px 20px;
}

h4 {
  padding: 5px 20px 0px 20px;
  font-weight: 100;
}

#pa {
  padding: 10px 20px 20px 20px;
}

h2 + #pa {
  padding: 5px 0px;
}

.aa {
  color: #000000;
}

.aa:hover {
  padding: 0px;
  border-bottom: 2px solid;
}

footer {
  right: 0;
  bottom: 0;
  width: 100vw;
  padding: 10px;
  color: #ffffff;
  text-align: center;
  position: absolute;
  background-color: #777;
}

footer p a {
  color: #ffffff;
}

footer p a:hover {
  color: #000000;
  border-bottom: 2px solid;
}

/* Smartphone */
@media (max-width: 425px) {
  .width-100 {
    padding: 30px 0px;
  }

  article {
    width: 100%;
    height: auto;
    padding: 30px 20px;
  }

  nav {
    padding: 0;
    width: 100%;
    border-left: none;
  }

  nav li {
    width: 100%;
    text-align: center;
  }

  nav li:hover {
    background-color: #666;
  }

  .img {
    margin: 0px 40px;
  }

  footer {
    display: table;
    position: relative;
  }
}

/* Tablet */
@media (max-width: 769px) {
  article {
    width: 100%;
    min-width: 320px;
    padding: 30px 20px;
  }

  nav {
    padding: 0;
    height: auto;
    width: 100%;
    border-left: none;
  }

  nav li {
    width: 100%;
    text-align: center;
  }

  nav li:hover {
    background-color: #666;
  }

  .width-100 {
    padding: 30px 0px 0px 0px;
  }

  div {
    display: table;
  }

  footer {
    position: relative;
    display: table;
  }
}
